/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;

}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.p_1 {
    width:350px;
}

.p_2 {
    width:350px;
}

.p_3 {
    width:350px;
}

.p_4{
    width:350px;
}

.container {
    width: 100vw;
    margin: 0 50px auto;
}

.nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color:purple;
        font-size:15px;
        margin:10px 200px 10px 30px;
    }

    .jumbo_img{
        width:100vw;
        margin: 10px 0px 10px 350px;
        
    }

    .jumbo_lights{
        width:100vw;
        /*margin: 10px 150px 5px;*/
        


    }

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.pairing_1{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 10px 200px 5px; 
}

.text-container_1 {
    margin: auto;
}

.text-container_2{
    margin: auto;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    margin: 10px 50px 5px;
    width: 100%;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
    margin:10px 200px 20px;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85vw;
    margin:10px 85px 20px;
    
}

.middle-content .boxes .box_1 .box {
    background: teal;
}


.middle_group {
    
    
    /*margin:10px 20px 20px;*/
    /*display:flex;*/
    /*align-items: center;*/
    /*align-content: center;*/
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 10px 180px 20px;
    justify-content: space-around;
    width: 75vw;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.d_bottom {
    margin:10px 200px 20px;
}


footer {
    width: 80vw;
    background: black;
    margin:10px 150px 20px;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
  
}


/* About page code below */

.logo_1 {
    float:left
    
  }

  .logo{
    margin:  10px 0 10 20px;
  }

 


.nav_bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size:15px;
        margin:10px 600px 10px 30px;
    }

.about_stuff{
    margin: 10px 270px 10px;
    width: 50vw;
}

hr {
    margin: 5px 
    border: 1px dotted black;
}


.first_pair{
    display:flex;
	flex-direction:row;
}

.first_sect{
    margin: 10px 200px 20px;
    padding:20px;
  
}



hr .button_1{
    border:1px dotted black;
}

hr .button_2{
    border:1px dotted black;
}

hr .button_3 {
    border:1px dotted black;
}

hr .button {
    border:1px dotted black;
}

.second_pair{
    display:flex;
    flex-direction:row;
}

.second_sect{
    margin: 10px 10px 10px 20px;
	padding:20px;
}


.third_sect{
    margin: 10px 200px 20px;
	padding:20px;
}

.fourth_sect{
    margin: 10px 10px 10px 20px;
	padding:20px;
}

.button_1{
    background-color:white;
	text-align:center;
	padding: 20x 10px 10px 10px;
	border: 1px solid black;
	width:100px;
	margin: 20px;
}

.button_2{
    background-color:white;
	text-align:center;
	padding: 20x 10px 10px 10px;
	border: 1px solid black;
	width:100px;
	margin: 20px;

}


.button_3{
    background-color:white;
	text-align:center;
	padding: 20x 10px 10px 10px;
	border: 1px solid black;
	width:100px;
	margin: 20px;
}


.button_4 {
    background-color:white;
	text-align:center;
	padding: 20x 10px 10px 10px;
	border: 1px solid black;
	width:100px;
	margin: 20px;
}



.second_sect{
    margin: 10px 10px 10px 20px;
	padding:20px;
}
